
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: securitypolicies.tyk.tyk.io
spec:
  group: tyk.tyk.io
  names:
    kind: SecurityPolicy
    listKind: SecurityPolicyList
    plural: securitypolicies
    shortNames:
    - tykpolicies
    singular: securitypolicy
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: SecurityPolicy is the Schema for the securitypolicies API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: SecurityPolicySpec defines the desired state of SecurityPolicy
          properties:
            _id:
              description: MID ("_id") is generated by Tyk once the resource is created.
                Do NOT fill this in.
              type: string
            access_rights:
              additionalProperties:
                description: from tyk/session.go AccessDefinition defines which versions
                  of an API a key has access to
                properties:
                  allowance_scope:
                    description: RestrictedTypes []graphql.Type `json:"restricted_types"`
                      Limit          APILimit     `json:"limit,omitempty"`
                    type: string
                  allowed_urls:
                    items:
                      description: AccessSpecs define what URLS a user has access
                        to an what methods are enabled
                      properties:
                        methods:
                          items:
                            type: string
                          type: array
                        url:
                          type: string
                      required:
                      - methods
                      - url
                      type: object
                    type: array
                  api_id:
                    description: 'TODO: APIID should not really be needed, as is auto-set
                      from the APIDefnition Resource'
                    type: string
                  api_name:
                    description: 'TODO: APIName should not really be needed, as is
                      auto-set from the APIDefnition Resource'
                    type: string
                  name:
                    description: Name of the ApiDefinition resource to target
                    type: string
                  namespace:
                    description: Namespace of the ApiDefinition resource to target
                    type: string
                  versions:
                    items:
                      type: string
                    type: array
                required:
                - name
                - namespace
                type: object
              type: object
            access_rights_array:
              items:
                description: from tyk/session.go AccessDefinition defines which versions
                  of an API a key has access to
                properties:
                  allowance_scope:
                    description: RestrictedTypes []graphql.Type `json:"restricted_types"`
                      Limit          APILimit     `json:"limit,omitempty"`
                    type: string
                  allowed_urls:
                    items:
                      description: AccessSpecs define what URLS a user has access
                        to an what methods are enabled
                      properties:
                        methods:
                          items:
                            type: string
                          type: array
                        url:
                          type: string
                      required:
                      - methods
                      - url
                      type: object
                    type: array
                  api_id:
                    description: 'TODO: APIID should not really be needed, as is auto-set
                      from the APIDefnition Resource'
                    type: string
                  api_name:
                    description: 'TODO: APIName should not really be needed, as is
                      auto-set from the APIDefnition Resource'
                    type: string
                  name:
                    description: Name of the ApiDefinition resource to target
                    type: string
                  namespace:
                    description: Namespace of the ApiDefinition resource to target
                    type: string
                  versions:
                    items:
                      type: string
                    type: array
                required:
                - name
                - namespace
                type: object
              type: array
            active:
              description: Active must be set to `true` for Tyk to load the security
                policy into memory.
              type: boolean
            enable_http_signature_validation:
              type: boolean
            hmac_enabled:
              type: boolean
            id:
              description: If you are linking an existing Policy ID to a new YAML
                CRD, then fill in this ID field with the "_id" field. See policies.md
                readme for more info
              type: string
            is_inactive:
              description: IsInactive applies to the key itself. Allows enabling or
                disabling the policy without deleting it.
              type: boolean
            key_expires_in:
              description: KeyExpiresIn is the number of seconds till key expiry.
                For 1 hour is 3600. Default never expire or 0
              format: int64
              type: integer
            max_query_depth:
              description: Max depth of a GraphQL query
              type: integer
            meta_data:
              additionalProperties:
                type: string
              description: LastUpdated                   string                           `json:"last_updated"`
              type: object
            name:
              description: Name represents the name of the security policy as displayed
                in the Dashboard
              type: string
            org_id:
              description: OrgID is overwritten - no point setting this
              type: string
            partitions:
              properties:
                acl:
                  type: boolean
                complexity:
                  type: boolean
                per_api:
                  type: boolean
                quota:
                  type: boolean
                rate_limit:
                  type: boolean
              required:
              - acl
              - complexity
              - per_api
              - quota
              - rate_limit
              type: object
            per:
              description: To be used in conjunction with "Rate".  Per seconds. 1
                minute=60.  1 hour=3600 omit or "-1" for unlimited
              format: int64
              type: integer
            quota_max:
              description: Value of Quota allowed, omit or "-1" for unlimited
              format: int64
              type: integer
            quota_renewal_rate:
              description: Value reset length, in seconds, omit or "-1" for unlimited
              format: int64
              type: integer
            rate:
              description: Rate limit per X seconds (x="Per"), omit or "-1" for unlimited
              format: int64
              type: integer
            state:
              description: 'State can be active, draft or deny active: All keys are
                active and new keys can be created. draft: All keys are active but
                no new keys can be created. deny: All keys are deactivated and no
                keys can be created.'
              enum:
              - active
              - draft
              - deny
              type: string
            tags:
              description: Custom tags to apply to the key, get transfered to the
                analytics
              items:
                type: string
              type: array
            throttle_interval:
              description: If rate limited, how many seconds to retry a request for.  omit
                or "-1" for unlimited
              format: int64
              type: integer
            throttle_retry_limit:
              description: Number of retries before returning error.   omit or "-1"
                for unlimited
              type: integer
          required:
          - active
          - name
          - state
          type: object
        status:
          description: SecurityPolicyStatus defines the observed state of SecurityPolicy
          properties:
            pol_id:
              type: string
          required:
          - pol_id
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
