name: golangci-lint

on:
  push:
    branches:
      - master
    paths: 
      - '**.go'

  pull_request:
    branches:
      - master
    paths: 
      - '**.go'

jobs:
  golangci:
    name: linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.21
      - name: check out code
        uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.50.1

          # Optional: golangci-lint command line arguments.
          args: --verbose --timeout=5m

          # If set to true and the action runs on a pull request - the action outputs only newly found issues
          only-new-issues: true

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the action will use pre-installed Go.
          # skip-go-installation: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true
